.demo-1,
.demo-1 * {
  pointer-events: all;
}

.demo-1 .zoom{
  transform: scale(2);
  padding: 1rem;
  width: fit-content;
  height: fit-content;
}

.element-list ul {
  list-style: none;
  margin: var(--slide-gap);
  padding: 0;
}

.element-list li {
  margin: 0;
}

.element-list li::before {
  content: "<";
  color: #d00;
}

.element-list li::after {
  content: " />";
  color: #d00;
}

.moon {
  font-size: smaller;
  vertical-align: middle;
}

.form-demo label{
  border: 2px solid #3b2eb3;
  border-radius: 3px;
  display: block;
  padding: .5rem 1.5rem .5rem .5rem;
  position: relative;
  margin: .5rem 0;
}

.form-demo input[type='radio'] {
  position: absolute;
  top: 0;
  bottom: 0;
  right: .5rem;
  margin: auto;
}

.form-demo input[type='text'] {
  margin: .5rem 0;
  display: block;
}

svg[hidden] {
  display: none;
}

.made-in-ukraine {
  width: 200px;
  height: auto;
  margin: auto;
  display: block;
}

.made-in-ukraine-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.made-in-ukraine-wrapper img {
  width: 80%;
  max-width: 100%;
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


address.address {
  font-size: 1.8rem;
  line-height: 1.44;
  margin-top: 2rem;
}